nav {
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  height: 130px; 
  border-bottom: 1px solid #3B3B3B; 
  background: #1A1A1A; 
  padding: 5px 25px; 
}

.contact-info {
  text-align: left;
  padding: 0;  
}

.contact-info li {
  margin-left: 15px; 
}

li a {
  color: #EEB73D;
  text-decoration: none; 
}

li a:hover {
  color: #5BB176;
  text-decoration: underline; 
}

